.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Mobil cihazlarda yumuşak kaydırma */
    border: 1px solid #ddd; /* Tablo kenarlığı */
    margin-bottom: 20px; /* Alt boşluk */
}

/* Mobil cihazlarda daha küçük ekranlarda düzgün görünüm için */
.table-responsive table {
    width: 100%;
    border-collapse: collapse;
}

.table-responsive th,
.table-responsive td {
    text-align: center; /* Sol hizalı içerik */
    padding: 10px; /* İç boşluk */
    white-space: nowrap; /* İçerik satır kırmasını engeller */
}

.table-responsive th {
    background-color: #f4f4f4; /* Başlık hücreleri için arka plan rengi */
    font-weight: bold;
}

.table-responsive tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternatif satır renkleri */
}

.btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}