
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Corlate</title>

    <!-- core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head>

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                
            </div><!--/.container-->
        </div><!--/.top-bar-->
    </header>

    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
            </div>

            
        </div><!--/.container-->
    </nav><!--/nav-->
    </header><!--/header-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(images/slider/bg1.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Gelişmiş Müşteri Çağrı Yönetimi</h1>
                                    <h2 class="animation animated-item-2">Müşteri çağrılarını etkili bir şekilde kaydedin, yönetin ve analiz edin.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Daha Fazla Bilgi</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="images/slider/img1.png" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(images/slider/bg2.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Etkili Veri Analizi</h1>
                                    <h2 class="animation animated-item-2">Çağrılarınızı tarih, müşteri ya da kategoriye göre düzenleyerek yönetim kolaylığı sağlayın.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Daha Fazla Bilgi</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="images/slider/img2.png" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(images/slider/bg3.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Müşteri Memnuniyetini Artırın</h1>
                                    <h2 class="animation animated-item-2">Otomatik çağrı kaydı ile müşterilerinizin ihtiyaçlarına daha hızlı çözüm üretin.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Daha Fazla Bilgi</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="images/slider/img3.png" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="feature">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Özellikler</h2>
                <p class="lead">Müşteri çağrı yönetimi uygulamamız, çağrılarınızı en etkili şekilde yönetmenizi sağlayacak çeşitli araçlarla donatılmıştır.<br> Tüm süreçlerinizi kolaylaştırmak için buradayız.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>Otomatik Çağrı Kaydı</h2>
                            <h3>Çağrılarınızı sistematik bir şekilde kaydedin ve yönetin.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>Detaylı Analiz</h2>
                            <h3>Müşteri çağrılarını düzenleyin, kayıtlara hızlıca erişin ve süreçlerinizi kolaylaştırın.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>Kolay Entegrasyon</h2>
                            <h3>Uygulamanızla hızlı ve sorunsuz bir şekilde entegre olur.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2>Hızlı Çözüm</h2>
                            <h3>Müşterilerinizin taleplerine hızlı ve doğru çözümler üretin.</h3>
                        </div>
                    </div><!--/.col-md-4-->


                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Kolay Kullanım</h2>
                            <h3>Kullanıcı dostu arayüzümüz ile çağrı kayıtlarınızı hızlıca yönetin.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Müşteri Odaklılık</h2>
                            <h3>Müşteri ihtiyaçlarını merkeze alarak süreçlerinizi geliştirin.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Son Özellikler</h2>
                <p class="lead">Müşteri çağrı merkezi uygulamanızın iş süreçlerini geliştiren yenilikçi özellikleri keşfedin.</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Çağrı Kaydı</a> </h3>
                                <p>Müşteri çağrılarını kolayca kaydedin ve organize edin.</p>
                                <a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Görüntüle</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Hızlı Erişim</a></h3>
                                <p>Geçmiş çağrılara anında erişim sağlayın.</p>
                                <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Görüntüle</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Kategorilere Ayırma</a></h3>
                                <p>Çağrıları belirli kategorilere göre sınıflandırın.</p>
                                <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Görüntüle</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Kullanıcı Dostu Arayüz</a></h3>
                                <p>Basit ve modern bir tasarımla süreçlerinizi kolaylaştırın.</p>
                                <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Görüntüle</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Raporlama</a></h3>
                                <p>Çağrı verilerinizi analiz ederek performansı ölçün.</p>
                                <a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Görüntüle</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Bildirim Yönetimi</a></h3>
                                <p>Önemli çağrılar ve güncellemeler için bildirim alın.</p>
                                <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Görüntüle</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Gelişmiş Arama</a></h3>
                                <p>Çağrılar arasında kolayca arama yaparak verimliliği artırın.</p>
                                <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Görüntüle</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Entegrasyon</a></h3>
                                <p>Diğer sistemlerle entegre olarak uyumlu çalışın.</p>
                                <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Görüntüle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->

    <section id="services" class="service-item">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Hizmetlerimiz</h2>
                <p class="lead">Müşteri çağrı merkezi uygulamamızla sağladığımız temel hizmetlerimizle iş süreçlerinizi iyileştirin.</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="images/services/services1.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Çağrı Kaydı</h3>
                            <p>Tüm müşteri çağrılarınızı güvenli ve düzenli bir şekilde kaydedin.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="images/services/services2.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Raporlama</h3>
                            <p>Çağrı merkezinizin performansını gelişmiş raporlarla izleyin.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="images/services/services3.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Müşteri Analizi</h3>
                            <p>Müşteri etkileşimlerini analiz ederek, hizmet kalitesini iyileştirebilirsiniz.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="images/services/services4.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Gerçek Zamanlı Bildirim</h3>
                            <p>Çağrılar ve müşteri sorunları için anında bilgilendirme alın.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="images/services/services5.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Gelişmiş Arama</h3>
                            <p>Geçmiş çağrılar ve müşteri bilgilerine hızlıca erişin.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="images/services/services6.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Entegrasyon</h3>
                            <p>CRM ve diğer iş araçlarınızla entegre bir şekilde çalışın.</p>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInDown">
                    <div class="skill">
                        <h2>Yeteneklerimiz</h2>
                        <p>Müşteri çağrı merkezi uygulamanızın verimliliğini artırmak için güçlü bir altyapı ve kullanıcı dostu araçlarla yüksek kaliteli hizmet sunuyoruz.</p>

                        <div class="progress-wrap">
                            <h3>Çağrı Yönetimi</h3>
                            <div class="progress">
                                <div class="progress-bar color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                    <span class="bar-width">90%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>Veri Analizi</h3>
                            <div class="progress">
                                <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                    <span class="bar-width">85%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>Müşteri Memnuniyeti</h3>
                            <div class="progress">
                                <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                    <span class="bar-width">95%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-wrap">
                            <h3>İş Süreçleri İyileştirme</h3>
                            <div class="progress">
                                <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="bar-width">80%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--/.col-sm-6-->

                <div class="col-sm-6 wow fadeInDown">
                    <div class="accordion">
                        <h2>Neden Bizi Seçmelisiniz?</h2>
                        <div class="panel-group" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading active">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                            Müşteri memnuniyetine odaklanıyoruz
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </a>
                                    </h3>
                                </div>

                                <div id="collapseOne1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="media accordion-inner">
                                            <div class="pull-left">
                                                <img class="img-responsive" src="images/accordion1.png">
                                            </div>
                                            <div class="media-body">
                                                <h4>Hızlı ve Etkili Çözümler</h4>
                                                <p>Müşterilerinizin ihtiyaçlarını hızlı bir şekilde anlamak ve etkili çözümler sunmak için geliştirdiğimiz çağrı merkezi sistemleriyle müşteri memnuniyetini garanti ediyoruz.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                            Güçlü İletişim Altyapısı
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseTwo1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Çağrı merkezi yazılımımız, güçlü iletişim altyapıları sayesinde tüm müşteri taleplerini anlık olarak takip edebilir ve her türlü iletişim kanalını (telefon, e-posta, canlı destek) verimli bir şekilde yönetebilirsiniz.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                            7/24 Destek
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseThree1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Müşterilerinize kesintisiz destek sunmak için 7/24 hizmet veren çağrı merkezi çözümleriyle her zaman yanınızdayız.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                            Verimli Raporlama
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseFour1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Çağrı merkezi yazılımımız, size detaylı raporlar sunarak müşteri hizmetleri süreçlerinizi daha verimli hale getirecek ve iyileştirme alanlarını belirlemenize yardımcı olacaktır.
                                    </div>
                                </div>
                            </div>
                        </div><!--/#accordion1-->
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#middle-->

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 wow fadeInDown">
                    <div class="tab-wrap">
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Çağrı Merkezi Çözümleri</a></li>
                                    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">7/24 Destek</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Etkili İletişim Kanalları</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Müşteri Memnuniyeti</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">Verimli Raporlama</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="img-responsive" src="images/tab2.png">
                                            </div>
                                            <div class="media-body">
                                                <h2>Çağrı Merkezi Çözümleri</h2>
                                                <p>Çağrı merkezi sistemlerimiz, müşteri taleplerini anlık olarak takip etmenize ve her türlü müşteri hizmetleri gereksinimini karşılamanıza olanak tanır. Müşteri deneyimini geliştirmek için optimize edilmiştir.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="img-responsive" src="images/tab1.png">
                                            </div>
                                            <div class="media-body">
                                                <h2>7/24 Destek</h2>
                                                <p>Müşterilerinizin her an yanlarında olmanızı sağlıyoruz. Çağrı merkezi yazılımımız, kesintisiz 7/24 destek sunarak müşteri memnuniyetini üst seviyeye taşır.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="tab3">
                                        <p>Çağrı merkezi altyapımız, tüm iletişim kanallarını (telefon, e-posta, canlı destek) entegre ederek hızlı ve verimli bir çözüm sunar. Her platformda müşterilerinizle etkili bir iletişim kurabilirsiniz.</p>
                                    </div>

                                    <div class="tab-pane fade" id="tab4">
                                        <p>Müşteri memnuniyetini her zaman ön planda tutuyoruz. Çağrı merkezi sistemlerimiz, müşteri etkileşimlerini anlık olarak analiz eder ve çözüm odaklı yaklaşımlar ile yüksek memnuniyet sağlar.</p>
                                    </div>

                                    <div class="tab-pane fade" id="tab5">
                                        <p>Çağrı merkezi yazılımımız, müşteri hizmetleri süreçlerinizi optimize etmek için detaylı raporlar sunar. Performans verilerini analiz ederek, sürekli iyileştirme yapmanıza yardımcı olur.</p>
                                    </div>
                                </div> <!--/.tab-content-->
                            </div> <!--/.media-body-->
                        </div> <!--/.media-->
                    </div><!--/.tab-wrap-->
                </div><!--/.col-sm-6-->

                <div class="col-xs-12 col-sm-4 wow fadeInDown">
                    <div class="testimonial">
                        <h2>Görüşler</h2>
                        <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="images/testimonials1.png">
                            </div>
                            <div class="media-body">
                                <p>“Çağrı merkezi desteği sayesinde müşterilerimize anında çözüm üretebiliyoruz. İşlem sürelerimizi hızlandırarak müşteri memnuniyetini artırdık.”</p>
                                <span><strong>- Berkay Mertoğlu/</strong> Müşteri Hizmetleri Müdürü, TechCo</span>
                            </div>
                        </div>

                        <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="images/testimonials1.png">
                            </div>
                            <div class="media-body">
                                <p>“Müşteri temsilcilerimiz çağrı merkezi yazılımı sayesinde daha verimli çalışıyor ve tüm talepleri anında çözebiliyoruz. Bu sistem gerçekten hayat kurtarıyor.”</p>
                                <span><strong>- Ekin Bekar/</strong> Operasyon Müdürü, FastTrack Solutions</span>
                            </div>
                        </div>

                        <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="images/testimonials1.png">
                            </div>
                            <div class="media-body">
                                <p>“Çağrı merkezi hizmetleri ile müşteri deneyimimizi mükemmelleştirdik. Destek ekibimizle birlikte her an müşteri yanındayız.”</p>
                                <span><strong>- Melisa Saraç/</strong> Genel Müdür, RetailTech</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Partnerlerimiz</h2>
                <p class="lead">Müşteri destek hizmetleri alanında güçlü işbirliklerimizle, daha hızlı ve etkili çözümler sunuyoruz. <br> Hep birlikte büyüyoruz ve müşterilerimize mükemmel hizmetler sunuyoruz.</p>
            </div>

            <div class="partners">
                <ul>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/partners/partner1.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/partners/partner2.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/partners/partner3.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/partners/partner4.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/partners/partner5.png"></a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </section><!--/#partner-->

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>Bir Sorunuz mu Var ya da Özel Teklif mi İstiyorsunuz?</h2>
                            <p>Herhangi bir sorunuz ya da özel bir teklif talebiniz mi var? Müşteri hizmetleri ekibimiz, size hızlı ve etkili bir şekilde yardımcı olmak için burada. Bizimle +0123 456 70 80 numaralı telefondan iletişime geçebilir veya destek@firma.com adresine e-posta göndererek hızlı bir şekilde hizmet alabilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#conatcat-info-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Şirketimiz</h3>
                        <ul>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">İş İlanları</a></li>
                            <li><a href="#">Ekibimizi Tanıyın</a></li>
                            <li><a href="#">Telif Hakkı</a></li>
                            <li><a href="#">Kullanım Şartları</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                            <li><a href="#">Bize Ulaşın</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Destek</h3>
                        <ul>
                            <li><a href="#">SSS</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Dokümantasyon</a></li>
                            <li><a href="#">İade Politikası</a></li>
                            <li><a href="#">Destek Talep Sistemi</a></li>
                            <li><a href="#">Faturalama Sistemi</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Geliştiriciler</h3>
                        <ul>
                            <li><a href="#">Web Geliştirme</a></li>
                            <li><a href="#">SEO Pazarlama</a></li>
                            <li><a href="#">Tema</a></li>
                            <li><a href="#">Yazılım Geliştirme</a></li>
                            <li><a href="#">E-posta Pazarlama</a></li>
                            <li><a href="#">Eklenti Geliştirme</a></li>
                            <li><a href="#">Makale Yazma</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Ortaklarımız</h3>
                        <ul>
                            <li><a href="#">Adipisicing Elit</a></li>
                            <li><a href="#">Eiusmod</a></li>
                            <li><a href="#">Tempor</a></li>
                            <li><a href="#">Veniam</a></li>
                            <li><a href="#">Exercitation</a></li>
                            <li><a href="#">Ullamco</a></li>
                            <li><a href="#">Laboris</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2024 MusteriCagriMerkezi. Tüm Hakları Saklıdır. 
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Ana Sayfa</a></li>
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">SSS</a></li>
                        <li><a href="#">Bize Ulaşın</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>

